# Introduction, Conditions & Loops, Collections & Sequences
### Till Sets

## Unit 1 - Introduction

In [11]:
# This is Python Single Line Comment
print("Hello World!")

Hello World!

In [19]:
"""This is an example
of multi line comment in python."""
print("Hello everyone!")

Hello everyone!

In [23]:
# type() command in python - gives type of variable
a=10
print(type(a))
b='ABES'
print(type(b))

<class 'int'>
<class 'str'>

In [26]:
# dir() commands gives all methods and properties related to that objects
a=3
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [28]:
s='string'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
'''Type Conversion
    Implicit Conversion - Automatically Converted By the Interpreter'''
a=10
b=11.5
c=a+b
print(c)
type(c)
# Here you can see data type of c automatically converted to float.

21.5

float

In [17]:
#Explicit type conversion
a=8
b=3
c=a/b
print(c)  # here c is of float data type
print(int(c)) # here c is type casted to int data type

2.6666666666666665
2

In [18]:
a=10
print(type(a))
complex(a)
print(complex(a))

<class 'int'>
(10+0j)

In [26]:
a=int(input("Enter a number "))
type(a)

Enter a number 5

int

In [31]:
#seperating between print we use (sep="**")
a="Hello"
b="Everyone"
print(a,b,sep=" *** ")

Hello *** Everyone

In [69]:
a=int(input("Enter a "))
b=int(input("Enter b "))
c=a+b
print("Sum is",c)
print(f"Sum of {a} and {b} is {c}.")

Enter a 6
Enter b 3
Sum is 9
Sum of 6 and 3 is 9.

In [115]:
a=10
b=13
c='Harshit'
print(a,b,c,sep='\n')

10
13
Harshit

In [53]:
# / Divide left operand by the right one (always results into float)
a=11
b=3
c=a/b
c

3.6666666666666665

In [55]:
""" // Floor division
division that results into whole number
adjusted to the left in the number line"""
a=11
b=3
c=a//b
c

3

In [59]:
""" ** Exponent left operand raised to the power of right -- In C language written as pow(a,b)"""
a=2
b=3
c=a**b
c

8

In [63]:
# Arith. Operators
x=9
y=2
print("x + y = ",x+y)
print("x - y = ",x-y)
print("x * y = ",x*y)
print("x / y = ",x/y)
print("x // y = ",x//y)
print("x % y = ",x%y)
print("x ** y = ",x**y)

x + y =  11
x - y =  7
x * y =  18
x / y =  4.5
x // y =  4
x % y =  1
x ** y =  81

In [70]:
25==25.0

True

In [83]:
a=0
b=6
a and b

0

In [90]:
# Identity Operators 
'''They are used to check if two values (or variables) are located on the same part
of the memory or not.'''
a=10
b=10
c=12
print(b is c)
print(a is b)
print(a is not c)

False
True
True

In [118]:
# Membership Operator
'''in and not in
are the membership operators in Python.
They are used to test whether a value or variable is found in a sequence (string,
list, tuple, set and dictionary) or not.'''

l=[1,2,3,4,5,6,"a",[7,8]]
print([7,8] in l)
print(3 in l)
print(7 in l)
print(3 not in l)
print(7 not in l)

True
True
False
False
True

## Unit 2 - Control Flow System

In [132]:
# Use of if and else
a=int(input("Enter A "))
b=int(input("Enter B "))

if a>b :
    print("A is greater")
else :
    print("B is greater")

Enter A -56
Enter B -59
A is greater

In [139]:
a=int(input("Enter a Number "))
if a%2==0 :
    print("even")
else :
    print("odd")

Enter a Number 23
odd

In [144]:
# program to increment a number if it is positive
a=int(input("Enter a Number "))
if a>0:
    a+=1
    print(a)
else:
    print("Enter a +ve number")

Enter a Number 45
46

In [154]:
# Use of elif     same as else if in C
# Marks program
a=int(input("Enter Marks "))
if a>=95 :
    print("Excellent")
elif a>=80 and a<95 :
    print("Very good")
elif a>=60 and a<80 :
    print("Good")
else :
    print("Need Improvement")

Enter Marks 85
Very good

In [157]:
"""A program to take age as input from user and print “You are less than 18 if age is less
than 18 otherwise print “You are above 18 A lso check that age could not be less than 0
If so then print “Age could not be less than 0"""

age=int(input("Enter the age "))
if age>0:
    if age>18 :
        print("You are above 18.")
    else:
        print("You are less than 18.")
else:
    print("Age cant't be less than 0 ")

Enter the age 85
You are above 18.

In [171]:
if True :
    print("1001")
else :
    print("2002")

1001

In [173]:
x=3
if x>2 or x<5 and x==6:
    print("Ok")
else:
    print("no output")

Ok

In [179]:
0.1*3

0.30000000000000004

### Loops

In [349]:
# While Loop Syntax

i=1 #Initialization
while (i<=6):
    print(i)
    i+=1   # Here i++ is not valid
else: # Use of else with while
    print("This is use of else with while.")

1
2
3
4
5
6
This is use of else with while.

In [206]:
0O11  # zero O 11 Octal representation

9

In [348]:
i=5
while True :
    if i%0o11==0:
        break
    print(i)
    i+=1
else:
    print("Overflow")

5
6
7
8

### Range Function

In [223]:
"""
It gives sequence of numbers in python.
range(start value,stop value,step value)
by default
start value=0 (optional)
stop value is always required
step value=1 (optional) Increments by one

range with single argument is considered as stop value and other values are default values
Note that stop value is not included in the range i.e 5 is not include

"""
print(range(5))
print(list(range(5))) #converting to list

range(0, 5)
[0, 1, 2, 3, 4]

In [224]:
list(range(2,5))

[2, 3, 4]

In [271]:
list(range(5,26,5))

[5, 10, 15, 20, 25]

In [229]:
# Write a program to generate a sequence of starting from 10 to 2.
list(range(10,1,-1)) # to decrease here we set step value as -1

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [272]:
list(range(5,-5,-1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [275]:
list(range(10,5,-1))

[10, 9, 8, 7, 6]

In [281]:
list(range(5,20,-1))

[]

### For Loop

In [284]:
# for iter_var sequence :
    #statements

# sequence is collection of elements
for i in range(5):  
    print(i)

0
1
2
3
4

In [294]:
a=int(input())
for i in (range(0,a*11,a)):
    print(i)

2
0
2
4
6
8
10
12
14
16
18
20

In [283]:
for i in range(1,20,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [346]:
#Print table of any given number
a=int(input("Enter A Number For Table "))
for i in range (1,11):
    print(f"{a} * {i} = {a*i}")
else:
    print("Table is completed.")

Enter A Number For Table 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Table is completed.

In [303]:
for i in range(15,10,-2):
    for j in range(10,20,2):
        print(j)
    print("\n")

10
12
14
16
18


10
12
14
16
18


10
12
14
16
18

In [329]:
s="Technology"
for i in range(len(s)):
    s[i].upper()
print(s[4])

n

In [355]:
color=['Red','Pink','Blue']
a=input()
if a in color:
    print("Found")
else:
    print("Not Found")

Red
Found

In [373]:
a=int(input("Enter a number. "))
if a%2!=0 and a%3!=0 and a%5!=0:
    print("Prime")
            
elif(a==2 or a==3 or a==5):
    print("Prime")

else:
    print("Not Prime")

Enter a number. 56
Not Prime

In [376]:
# Use of break and continue.
for i in range(6):
    if i==3:
        break
    print(i)

0
1
2

In [377]:
for i in range(6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

## Unit 3 - Python Collections & Sequences

### String

In [16]:
# String
a=10
type(str(a))

str

In [386]:
# Accessing String
st="Mountain is high"
print(st[2],st[-2])

u g

In [396]:
# String SLICING is the way of selection of substring.
# st[start index:stop index:step index] [0:_:+1]
st="Mountain is high"
st[:10]

'Mountain i'

In [404]:
st[-2:-16:-1]

'gih si niatnuo'

In [4]:
st[:]

'Mountain is high'

In [5]:
st="Mountain is high"
st[::-1]

'hgih si niatnuoM'

In [10]:
"""Strings in python are Immutable(un changeable) sequences, which means it does not support new
element assignment using indexes."""
s="I like Python"
s[0]='i'

TypeError: 'str' object does not support item assignment

In [15]:
print("ABES">"AKTU")
print("AKTU">"ABES")

False
True

#### String Methods

In [20]:
# Deletion
# In String, we can’t reassign the string characters but we can delete the complete string using del command.
s="I Like Python"
print(s)
del(s)
print(s)

I Like Python

NameError: name 's' is not defined

In [23]:
# In python methods are called using dot. operator
# captilize()  Return a string with first letter capital
s="I like python."
s1=s.capitalize()
print(s1)

I like python.

In [24]:
# casefold() Returns string in lower case
s="I Like Python."
s1=s.casefold()
print(s1)

i like python.

In [195]:
# count()
"""Return the number of occurrence of substring.
In the first example “ i occurred 3 times.
In the second example “ like ” occurred 2 times."""
st='i like what you like'
print(st.count("i"))
print(st.count("like"))

3
2

In [32]:
# endswith()
"""Return True if the string ends with the given substring otherwise return False."""
st="abes.ac.in"
print(st.endswith("in"))
print(st.endswith("on"))

True
False

In [44]:
# startswith()
"""Returns True if the string starts with the given substring otherwise return False"""
st="abes.ac.in"
print(st.startswith("a"))
print(st.startswith("abe"))
print(st.startswith("abesec"))
print(st.startswith("abk"))

True
True
False
False

In [46]:
# find()
"""Return the lowest index in String where substring sub is found.
In example there are two “like”.
1 st “like” is at index 2 and 2 nd at index 16. It return 2."""
st="i like what you like"
st.find("like")

2

In [52]:
# lower() Convert and return a string into lower case
st="I LIKE PythoN."
st.lower()

'i like python.'

In [62]:
# upper() Convert and return a string into upper case
st="i like python."
st.upper()

'I LIKE PYTHON.'

In [56]:
# swapcase() In swaps cases, the lower case becomes the upper case and vice versa
st="i lIKE pYTHON."
st.swapcase()

'I Like Python.'

In [58]:
# title() Converts the first character of each word to upper case.
st="i lIKE pYTHON."
st.title()

'I Like Python.'

In [63]:
# replace() Returns a string after replacing old substring with new substring
st="i like python."
st.replace("python","C++")

'i like C++.'

In [64]:
# split() Splits the string from given separator and returns a list of substring.
# Note By default, value of separator is a whitespace
st="I Like Python"
st.split()

['I', 'Like', 'Python']

In [196]:
st="Sunday,Monday,Tuesday"
st.split('n') # Comma seperated split is done here.

['Su', 'day,Mo', 'day,Tuesday']

In [200]:
# join() Concatenate any number of strings. The string whose method is called is inserted in between each given string.
# The result is returned as a new string
st="Python"
"_".join(st)

'P_y_t_h_o_n'

In [79]:
# strip() Return a copy of the string with leading and trailing whitespace removed
st="   Hello Everyone   "
st.strip()

'Hello Everyone'

In [81]:
# isalnum() Return true if the string is alphanumeric (Combination of a z, A Z, 0 9) Note
# It will return false only if string contains special character.
st="HelloEveryone"
st.isalnum()

True

In [88]:
st="Hello Everyone"
st.isalnum() # Due to space

False

In [91]:
# isalpha() Return true if the string contains only alphabets(Combination of a z, A Z)
st="HelloEveryone"
st.isalpha()

True

In [93]:
st="Hello Everyone"
st.isalpha()

False

In [99]:
# isdecimal() Returns True if all characters in the string are decimals
st="Hello123"
st.isdecimal()

False

In [100]:
st="123"
st.isdecimal()

True

In [201]:
# islower() Returns True if all characters in the string are lower case
st="HelloEveryone"
st.islower()

False

In [204]:
# isupper() Returns True if all characters in the string are upper case
st="HELLO"
st.isupper()

True

In [105]:
st="helloeveryone"
st.isalpha()

True

In [110]:
# len() Return length(No of character) of a given string. This is a generic function.
st="helloeveryone"
len(st)

13

#### String Operations

In [111]:
"""
Concatenation means joining/combining two string into one

Replication means repeating same string multiple times

Membership tells a given string is member of another string or not"""

'\nConcatenation means joining/combining two string into one\n\nReplication means repeating same string multiple times\n\nMembership tells a given string is member of another string or not'

In [114]:
# Concatenation
s1="Ind"
s2="ia"
c=s1+s2
c

'India'

In [116]:
# Replication
s="Python "
s*3

'Python Python Python '

In [122]:
# Membership
s="Python is good language"
"is" in s

True

In [124]:
s="Python is good language"
"Hii" in s

False

In [126]:
s="Python is good language"
"is" not in s

False

In [128]:
s="Python is good language"
"Hii" not in s

True

#### String Formatter

In [134]:
st="Hello 'Everyone' \
how are you"
st

"Hello 'Everyone' how are you"

In [210]:
# \\ -> \
st='https:\\\\abes.ac.in'
print(st)

https:\\abes.ac.in

In [207]:
st='"Hello" Harshit Kumar Rai'
print(st)

"Hello" Harshit Kumar Rai

In [157]:
# If we need to use single quotes in our string like  \'
st="'Hello' Harshit Kumar \'Rai\'"
print(st)

'Hello' Harshit Kumar 'Rai'

In [162]:
# If we need to use single quotes in our string like  \"
st="'Hello' Harshit Kumar \"Rai\""
print(st)

'Hello' Harshit Kumar "Rai"

In [164]:
# newline
st="'Hello'\n Harshit Kumar Rai"
print(st)

'Hello'
 Harshit Kumar Rai

#### String format()

In [171]:
a=int(input())
b=int(input())
c=a+b
print("Sum of {} and {} is {}".format(a,b,c))
print("Sum of {0} and {1} is {2}".format(a,b,c))
print("Sum of {x} and {y} is {z}".format(x=a,y=b,z=c))
# formating using f-string
print(f"Sum of {a} and {b} is {c}")

3
5
Sum of 3 and 5 is 8
Sum of 3 and 5 is 8
Sum of 3 and 5 is 8
Sum of 3 and 5 is 8

#### Binary, Octal, Hexadecimal, Decimal & Float Conversion

In [212]:
a=int(input())
print("{x} in Binary is {0:b}".format(a,x=a))
print("{x} in Octal is {0:o}".format(a,x=a))
print("{x} in Hexadecimal is {0:x}".format(a,x=a))
print("{x} in Decimal is {0:d}".format(a,x=a))
print("{x} in Float is {0:.2f}".format(a,x=a))
"""Use for Float Note Place .n before f , for representing floating point precision. n is decimal places."""

10
10 in Binary is 1010
10 in Octal is 12
10 in Hexadecimal is a
10 in Decimal is 10
10 in Float is 10.00

'Use for Float Note Place .n before f , for representing floating point precision. n is decimal places.'

#### Loops with String

In [219]:
st="Mango"
for i in (st):
    print(i,end=" ")

M a n g o

In [227]:
# Checks how many alphabest and digits are present in string.
st=input("Enter a string ")
alpha=0
digit=0
for i in st:
    if i.isalpha():
        alpha+=1
    if i.isdigit():
        digit+=1
print(alpha)
print(digit)

Enter a string Harshit 2001
7
4

In [235]:
"""To add 'ing ' at the end of a given string (length should be at least 3)
If the given string already ends with ' ing ' then add ly '
If the string length of the given string is less than 3, leave it unchanged."""
st=input()
if len(st)>=3:
    if st.endswith("ing"):
        print(st+"ly")
    else:
        print(st+"ing")
else:
    print(st)

Rain
Raining

### List

In [240]:
"""List elements are enclosed in square brackets and are comma separated.
List is the sequence of class type list.
List can contain elements of different data types.
List is a mutable(changeable) sequence.
List allows duplicate elements.
List elements are ordered, it means it give specific order to the elements, if new element is added, by default it comes at the end of the list"""
l=[1,2,3]
l

[1, 2, 3]

In [242]:
l=['Ram',20,'Aman',12,95.5]
l

['Ram', 20, 'Aman', 12, 95.5]

In [243]:
type(l)

list

In [258]:
# If we change the position of any element, then list would not be the same anymore
l1=['Ram',12,'Aman',20,95.5]
l2=['Ram',20,'Aman',12,95.5]
l1==l2

False

In [248]:
# Creation of empty list
l1=list()
l2=[]
print(l1,l2)

[] []

In [257]:
# Creation of non empty list
l1=list(['Ram',12,'Aman',20,95.5])
l2=['Ram',12,'Aman',20,95.5]
print(l1,l2)

['Ram', 12, 'Aman', 20, 95.5] ['Ram', 12, 'Aman', 20, 95.5]

In [263]:
# Indexing in List
# In the list index are started from 0, it means first element takes 0 index and it increases like 0,1,2…(n 1).
# -ve indexing It means last element can be accessed using 1 index, second last as 2 and so on.
print(l[0])
print(l[2])
# Negative Indexing
print(l[-1])
print(l[-2])

Ram
Aman
95.5
12

#### Slicing in List

In [ ]:
#l[start:stop:step] index

In [275]:
l=[0,1,2,3,4,5,6,7,8,9,10]
l[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [267]:
l[0:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [268]:
l[5:]

[5, 6, 7, 8, 9, 10]

In [269]:
l[2:9:3]

[2, 5, 8]

In [270]:
l[2:9]

[2, 3, 4, 5, 6, 7, 8]

In [271]:
l[-1:-6:-1]

[10, 9, 8, 7, 6]

In [273]:
l[::1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [276]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [286]:
# Updation in List- List is mutable(can be changed)
l=[1,2,3,4,5]
l[0]=7
l

[7, 2, 3, 4, 5]

In [288]:
# append() Add new element at last in a list.
# Listname.append (element to be added)
l=[1,2,3,4,5]
l.append(6)
l

[1, 2, 3, 4, 5, 6]

In [298]:
# Deletion in List
l=[1,2,3,4,5]
del(l[0])   # del() deletes the value at that index by passing index
l.remove(2) # remove() removes the value by passing value
l

[3, 4, 5]

In [302]:
# Deleting whole list
l=[1,2,3,4,5]
del l
l

NameError: name 'l' is not defined

### Built in Methods in List

In [304]:
"""len() It calculates the length of the list or the number of elements in the list"""
l=[23,12,6,28,56,71,16,53]
len(l)

8

In [307]:
"""max(list) It returns the maximum element from the list"""
l=[23,12,6,28,56,71,16,53]
max(l)

71

In [309]:
"""min(list) It returns a minimum element from the list"""
min(l)

6

In [312]:
# list(seq) It converts into any sequence into a list
st="123456"
list(st)

['1', '2', '3', '4', '5', '6']

In [320]:
"""pop() It deletes the last element from the list Note.
We can also pass index as argument in pop() to delete a specific index value"""
l=[23,12,6,28,56,71,16,53]
print(l.pop())
print(l)
print(l.pop(0))
print(l)

53
[23, 12, 6, 28, 56, 71, 16]
23
[12, 6, 28, 56, 71, 16]

In [323]:
# count() It counts the occurrences of a particular element in the list.
l=[0,1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
l.count(4)

4

In [328]:
# sort() Sort the elements of the list in ascending order
l=[23,12,6,28,56,71,16,53]
l.sort()
l

[6, 12, 16, 23, 28, 53, 56, 71]

In [338]:
# reverse() Reverse the element of list.
l=[23,12,6,28,56,71,16,53]
l.reverse()
l

[53, 16, 71, 56, 28, 6, 12, 23]

In [339]:
# sort(reverse=True) Sorts the elements of the list in reverse order.
l=[23,12,6,28,56,71,16,53]
l.sort(reverse=True)
l

[71, 56, 53, 28, 23, 16, 12, 6]

#### Operations on List

In [342]:
# Concatenation
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6]

In [343]:
# Replication
l1=[1,2,3]
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [350]:
# Membership
l1=[1,2,3,4,5,6,7]
print(2 in l1)
print(8 in l1)
print(2 not in l1)
print(8 not in l1)

True
False
False
True

In [366]:
# Write Python Program to swap elements in the list.
i=input("Enter elements of list ").split()
a=int(input("Enter index of 1st element "))
b=int(input("Enter index of 2nd element "))
if (a>=len(i) or b>=len(i)):
    print("Overflow")
else:
    temp=i[a]
    i[a]=i[b]
    i[b]=temp
    print(i)

Enter elements of list 0 1 2 3 4
Enter index of 1st element 0
Enter index of 2nd element 4
['4', '1', '2', '3', '0']

In [378]:
# Take a list input from user having integer elements and calculate sum and average of the list.
l=input("Enter elements of list ").split()
s=0
for i in l:
    s+=int(i)
print(s)
print(s/len(l))

Enter elements of list 1 2 3 4 5 6 7 8 9 10
55
5.5

In [388]:
# list with for loop
l=[1,2,3,4,5,6]
for i in l:
    print(i,end=" ")

1 2 3 4 5 6

In [392]:
# list with while loop
l=[1,2,3,4,5,6]
i=0
while i<len(l):
    print(l[i],end=" ")
    i+=1

1 2 3 4 5 6

In [395]:
# Write a python program to print all positive number of a list
l=[1,2,3,-1,-2,-3]
for i in l:
    if(i>0):
        print(i,end=" ")

1 2 3

In [398]:
# Write a python program to print all positive number of a list
l=[1,2,3,-1,-2,-3]
i=0
while(i<len(l)):
    if(l[i]>0):
        print(l[i],end=" ")
    i+=1

1 2 3

In [403]:
# Nested List
# When we have an element of a list in the form of the list itself, it is called Nested List.
# Elements of the nested list can be accessed using the 2 D indexing access method.
nl=[[1,2],[3,4],[5,6,7]]
nl[2][2]

7

In [416]:
# Nested List as a Matrix
nes=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(nes)):
    for j in range(len(nes[0])):
        print(nes[i][j],end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [422]:
# Create a flat list from a nested list
nes=[[1,2,3],[4,5,6],[7,8,9]]
new=[]
for i in range(len(nes)):
    for j in range(len(nes[1])):
        new.append(nes[i][j])
print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehension

In [431]:
# Normal Method
a=[]
for i in range(10):
    a.append(3**i)
a

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

In [432]:
# By List Comprehension
pow=[(3**x) for x in range(10)]
pow

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

In [435]:
l=[x for x in range(10) if x%2==0]
l

[0, 2, 4, 6, 8]

In [445]:
# WAP that takes input n comma seperated number and typecast it into int.
l=input().split()
for i in range(len(l)):
    l[i]=int(l[i])
l

1 2 3 4 5

[1, 2, 3, 4, 5]

In [451]:
l=[int(x) for x in input().split()]
l

1 2 3 4

[1, 2, 3, 4]

In [488]:
l = input().split()
list(map(int,l))

1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

In [457]:
# WAP that takes input n comma seperated number. Find and print all odd number amnong given n numbers.
l=input().split(' ')
for i in range(len(l)):
    l[i]=int(l[i])
for x in l:
    if x % 2!=0:
       print(x,end=" ")

1 2 3 4 5 6 7 8
1 3 5 7

In [459]:
l=[int(x) for x in input().split(' ')]
l1=[]
for val in l:
    if val%2!=0:
        l1.append(val)
l1

1 2 3 4 5 6

[1, 3, 5]

In [478]:
l=[int(x) for x in input().split()]
l1=[x for x in l if x%2!=0]
l1

1 2 3

[1, 3]

In [487]:
# WAP which takes space seperated n value from user.Remove all duplicate item.
l=[int(x) for x in input().split()]
a=list(set(l))
a

1 2 1 2 3 2 4 4 5 2 4

[1, 2, 3, 4, 5]

In [491]:
#Normal Method
l=input().split(' ')
l1=[]
for i in range(len(l)):
    l[i]=int(l[i])
for i in range(len(l)):
    if l[i] not in l1:
        l1.append(l[i])
l1

1 1 2 2 3 3 3 4 4 4 4 5 5 5 6

[1, 2, 3, 4, 5, 6]

In [493]:
#List Comprehension method
l=[int(x) for x in input().split()]
l1=[]
for i in range(len(l)):
    if l[i] not in l1:
        l1.append(l[i])
l1

1 1 2 2

[1, 2]

In [490]:
#WAP to take input matrix a from user.
m=[]
for i in range(3):
    l=[int(x) for x in input().split(' ')]
    m.append(l)
m

1 2 3
4 5 6
7 8 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [504]:
#WAP to take matrix and print sum of two matrix.
m=int(input())
m1 = [[int(x) for x in input().split(" ")] for i in range(m)]
m2 = [[int(x) for x in input().split(" ")] for i in range(m)]
m3=[[0]*m for i in range(m)]
print(m1)
print(m2)
for i in range(m):
    for j in range(len(m1[0])):
        m3[i][j]=m1[i][j]+m2[i][j]
m3

3
1 2 3
4 5 6
1 1 1
2 2 2
3 3 3
4 4 4
[[1, 2, 3], [4, 5, 6], [1, 1, 1]]
[[2, 2, 2], [3, 3, 3], [4, 4, 4]]

[[3, 4, 5], [7, 8, 9], [5, 5, 5]]

### Tuples

In [509]:
#Tuple is an immutable ordered collection of elements of different data types.
# Empty tuple
t=()
t1=tuple()
print(t,t1)

() ()

In [514]:
# Creating Non-empty Tuple
t=(1,1.2,"Python",-25,"ok")
print(type(t))
print(t)

<class 'tuple'>
(1, 1.2, 'Python', -25, 'ok')

In [518]:
a=(1)
b=("Python")
t=(1,)    # So for creating tuple of single element you have to put a comma after the element.
print(type(a))
print(type(b))
print(type(t))

<class 'int'>
<class 'str'>
<class 'tuple'>

#### Packing & Unpacking of Tuple

In [521]:
# Tuple can also be created without using parenthesis; it is known as packing.
# Write a program to create tuple without parenthesis.
t=1,1.2,"Python",-25,"ok"   # packing
print(type(t))
t

<class 'tuple'>

(1, 1.2, 'Python', -25, 'ok')

In [524]:
# Write a program to unpack elements in tuple.
# Unpacking is called when the multiple variables is assigned to a tuple; then these variables take corresponding values.
t=1,1.2,"Python",-25,"ok"  # packing
print(t)
a,b,c,d,e=t   # unpacking
print(a,b,c,d,e)

(1, 1.2, 'Python', -25, 'ok')
1 1.2 Python -25 ok

In [526]:
# Tuple elements can be accessed using indexes, just like String and List.
t=(1,1.2,"Python",-25,"ok")
print(t[0],t[2],t[-1],t[-5])

1 Python ok 1

In [544]:
# Indexing and Slicing in Tuple Same as List
t=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(t[:])
print(t[0:])
print(t[::])
print(t[0:16:2])
print(t[-1:-8:-1])
print(t[::-1])
print(t[5:0])

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(0, 2, 4, 6, 8, 10, 12, 14)
(15, 14, 13, 12, 11, 10, 9)
(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)
()

In [546]:
# If we want to change any of the index value in tuple, this is not allowed and throw an error.
t=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
t[0]=1
t

TypeError: 'tuple' object does not support item assignment

In [553]:
# Built in Methods in Tuple
t=(0,1,2,2,3,3,3,4,4,4,4,5,5,5,5,5)
print(t.count(4))  # count() It returns the occurrences of the value given.
print(t.index(4))  #index() It returns the index of first occurence of the specified value.

4
7

In [555]:
# Operations on Tuple (same as list and string)
# Concatenation
t1=(1,2,3)
t2=(4,5,6)
t=t1+t2
t

(1, 2, 3, 4, 5, 6)

In [556]:
# Replication
t=(1,2,3)
t*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [559]:
# Membership
print(1 in t)
print(4 not in t)

True
True

In [565]:
# Loops and Conditions on Tuple
t=(1,2,3,4)
for i in t:
    if i%2==0:
        print(i," is Even")
    else:
        print(i," is Odd")

1  is Odd
2  is Even
3  is Odd
4  is Even

In [573]:
# Write Python program to join two input tuples, if their first element is common and elements of tuple should be integer.
# Taking input in List and converting it into tuples.
t1=tuple(int(x) for x in input().split())
t2=tuple(int(x) for x in input().split())
if t1[0]==t2[0]:
    print(t1+t2)
else:
    print("First Element is not same.")

3 4 5
3 6 5
(3, 4, 5, 3, 6, 5)

### Dictionaries

In [1]:
# Dictionary is a unique data collection of Python which stores the key value pair.
# In dictionaries, the indexes are not by default. (such as 0 in string, list, tuple).
# {} is the representation of Dictionary. This key value pair is considered as one item in dictionary.

In [8]:
# Creating a empty dictionary.
d1={}
d2=dict()
print(d1,d2)
print(type(d1),type(d2))

{} {}
<class 'dict'> <class 'dict'>

In [11]:
# Creating a non-empty dictionary 
d={"name":"harsh","empcode":9872,"subject":"Python"}
d
print(d)
type(d)

{'name': 'harsh', 'empcode': 9872, 'subject': 'Python'}

dict

In [17]:
# Accessing Dictionary
# In dictionary, the items are accessed by the keys.
d={"name":"harsh", "empcode":9872, "subject":"Python"}
print(d['name'],d["subject"])
print(len(d))

harsh Python
3

In [19]:
# Modification in Dictionary
# Update the value using key
d={"name":"Harsh", "empcode":9872, "subject":"Python"}
d['name']='Harsh Rai'
d

{'name': 'Harsh Rai', 'empcode': 9872, 'subject': 'Python'}

In [22]:
# Swapping Store and Kitchen
room={1:"Store", 2:"Kitchen"}
temp=room[1]
room[1]=room[2]
room[2]=temp
room

{1: 'Kitchen', 2: 'Store'}

In [29]:
# New Dict is added.
room={1:"Store", 2:"Kitchen"}
room[3]="Guest"
room

{1: 'Store', 2: 'Kitchen', 3: 'Guest'}

In [25]:
# It is not possible to change the keys of the dictionary.

In [26]:
# Nested Dictionary
# As we have the option of a nested list, similarly, dictionaries can consist of data collections.

In [31]:
room={1:"Store", 2:"Kitchen",3:{1:"Guest",2:"Guest Store",3:"Guest Wash"}}
print(room)
room[3][2]="Nothing"
print(room)

{1: 'Store', 2: 'Kitchen', 3: {1: 'Guest', 2: 'Guest Store', 3: 'Guest Wash'}}
{1: 'Store', 2: 'Kitchen', 3: {1: 'Guest', 2: 'Nothing', 3: 'Guest Wash'}}

### Built in Methods in Dictionary

In [146]:
# copy() Copying a dictionary to another dictionary 

# fromkeys() Create a new dictionary with key in a data sequence list/ tuple with value

# get() If the key is present in the dictionary, its value is returned. If the key is not present in a dictionary, then
# the default value will be shown as output instead of a KeyError .

# items() this will return the key value pair as an output.

# keys() this will return only the keys as an output.

# values() this will return only the dictionary values as an output.

# update() this adds the one dictionary with another dictionary.

# pop() The pop() method takes an argument as the dictionary key, and deletes the item from the dictionary.

# popitem() The popitem () method retrieves and removes the last key/value pair inserted into the dictionary.

In [44]:
# copy() - copy() method provide a fresh copy with different memory location.
floor1={1:"Store", 2:"Kitchen"}
floor2=floor1
floor3=floor1.copy()
print(floor1)
print(floor2)
print(floor3)
print(id(floor1)==id(floor2))
print(id(floor1)==id(floor3))

{1: 'Store', 2: 'Kitchen'}
{1: 'Store', 2: 'Kitchen'}
{1: 'Store', 2: 'Kitchen'}
True
False

In [46]:
# fromkeys() Create a new dictionary with key in a data sequence (list/ tuple) with given value.
key=[1,2,3,4]
value='xyz'
sqr={}
sqr.fromkeys(key,value)

{1: 'xyz', 2: 'xyz', 3: 'xyz', 4: 'xyz'}

In [51]:
# get() - If the key is present in the dictionary, its value is returned. If the key is not present in a dictionary, then
# the default value will be shown as output instead of a KeyError .
d={"name":"Harsh", "empcode":9872, "subject":"Python"}
print(d.get('name'))
print(d.get('rank'))
print(d.get('rank',1))  # sets default value to 1.

Harsh
None
1

In [55]:
# items(),keys(),values()
d={"name":"Harsh", "empcode":9872, "subject":"Python"}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'empcode', 'subject'])
dict_values(['Harsh', 9872, 'Python'])
dict_items([('name', 'Harsh'), ('empcode', 9872), ('subject', 'Python')])

In [60]:
# update() - This adds the one dictionary with another dictionary.
a={1:"A",2:"B",3:"C"}
b={4:"D",5:"E",6:"F"}
print(a)
a.update(b) # b is added to a
print(a)
print(b)

{1: 'A', 2: 'B', 3: 'C'}
{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F'}
{4: 'D', 5: 'E', 6: 'F'}

In [73]:
# pop(),popitem()

a={1:"A",2:"B",3:"C",4:"D"}
print(a.pop(2)) #The pop() method takes an argument as the dictionary key, and deletes the item from the dictionary.
print(a)
print(a.popitem()) #The popitem () method retrieves and removes the last key/value pair inserted into the dictionary.
print(a)

B
{1: 'A', 3: 'C', 4: 'D'}
(4, 'D')
{1: 'A', 3: 'C'}

#### Lopps and Conditions On Dictionary

In [77]:
a={1:"A",2:"B",3:"C",4:"D"}
# Key is printed
for key in a.keys():
    print(key)

1
2
3
4

In [81]:
# Value is printed
for value in a.values():
    print(value)

A
B
C
D

In [82]:
# Item is printed
for item in a.items():
    print(item)

(1, 'A')
(2, 'B')
(3, 'C')
(4, 'D')

In [83]:
for i,j in a.items():
    print(i,":",j)

1 : A
2 : B
3 : C
4 : D

In [85]:
new={}
for i in range(1,6):
    new[i]=i*i
print(new)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Set

In [86]:
# A set is another data collection data types in python, which stores unique elements in an unordered way.

# Every element in a set is unique and immutable(unchangeable), 
# i.e. no duplicate values should be there, and the values can’t be changed.

In [92]:
# Creation of empty set
s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [253]:
# Creation of non empty set.
s={1,2,"1","2",2.5,1,2,"1","2",2.50,2.500,"Hello","Hello"}
print(s) # Can be printed in any order
print(len(s))

{1, 2.5, 2, '2', 'Hello', '1'}
6

In [1]:
str_set=set("HARSHIT")
str_set

{'A', 'H', 'I', 'R', 'S', 'T'}

In [108]:
str_set={"HARSHIT"}
str_set

{'HARSHIT'}

In [109]:
s={1,1,2,2,2,3,4,5,5,6,7,8,9,10}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [254]:
s=set([1,1,2,2,2,3,4,5,5,6,7,8,9,10])
s

TypeError: 'set' object is not callable

In [120]:
# This is a empty dictionary not a empty set.
s={}
type(s)

dict

In [122]:
# Accessing Set
# Python set’s item cannot be accessed using indexes.
s={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s[2]

TypeError: 'set' object is not subscriptable

In [128]:
# copy() - copy() method provide a fresh copy with different memory location.
set1={1,2,3}
set2=set1.copy()
print(set1,set2)
id(set1)==id(set2)

{1, 2, 3} {1, 2, 3}

False

In [131]:
# clear() Removes all element from set.
set1={1,2,3}
print(set1)
set1.clear()
print(set1)

{1, 2, 3}
set()

In [133]:
# add() Adding a new item in set.
set={1,2,3}
set.add(4)
set

{1, 2, 3, 4}

In [147]:
"""update() this adds the one set with another set."""
set1={1,2,3}
set2={4,5,6}
set1.update(set2)
print(set1)
set1.update([0,7,8],[9,10])
print(set1)

{1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [151]:
# remove() to remove the specified element from the given set.
s={1,2,3,4}
s.remove(3)
s

{1, 2, 4}

In [154]:
# pop() randomly removes any element
s={1,2,3,4}
print(s.pop())
print(s)

1
{2, 3, 4}

In [159]:
"""discard () used to remove the specified item from the given input set.
The remove() method will give an error if the specified item does not exist but this method will not."""
s={1,2,3,4}
print(s.discard(2))
print(s)

None
{1, 3, 4}

In [ ]:
# Operations On Set

In [164]:
# union()
s1={1,2,3,3}
s2={4,5,5,4}
print(s1|s2)  #Opertor "|" for union() of two sets.
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [168]:
# intersection()
s1={1,2,3,4,5}
s2={5,6,7,8}
print(s1 & s2) # Operator "&" for intersection() of two sets.
print(s1.intersection(s2))

{5}
{5}

In [172]:
# Elements that are present in one set, but not the other
# difference()
s1={1,2,3,4,5}
s2={5,6,7,8}
print(s1-s2) # # Operator "-" for difference() of two sets.
print(s1.difference(s2))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [178]:
# Symmetric Difference - Elements present in one set or the other, but not both.
# symmetric_difference()
s1={1,2,3,4,5}
s2={5,6,7,8}
print(s1^s2) # # Operator "^" for symmetric_difference(s2) of two sets.
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 6, 7, 8}
{1, 2, 3, 4, 6, 7, 8}

In [179]:
# isdisjoint() - None
# Disjoint True if the two sets have no elements in common

In [180]:
# issubset() - <=
# Subset True if one set is a subset of the other (that is, all elements of set2 are also in set1)

In [181]:
# Proper Subset True if one set is a subset of the other, but set2 and set1 cannot be identical
# None <

In [182]:
# issuperset() - >=
# Superset True if one set is a superset of the other (that is, set1 contains all elements of set2).

In [184]:
# Proper Superset True if one set is a superset of the other, but set1 and set2 cannot be identical
# None >

In [186]:
# Loops with set
s1={1,2,3,4,5}
for i in s1:
    print(i,end=" ")

1 2 3 4 5

In [8]:
# Frozen Set - A frozen set is a special category of the set which is unchangeable once created.
# frozenset()
s1={1,2,3,4,5}
s2=frozenset(set1)
print(type(s1))
print(type(s2))
print(s1)
print(s2)

<class 'set'>
<class 'frozenset'>
{1, 2, 3, 4, 5}
frozenset({0, 9})

In [201]:
# Add in Normal Set
s1={1,2,3,4,5}
s2=s1
s2.add(7)
s2

{1, 2, 3, 4, 5, 7}

In [7]:
# Add in frozenset() - Not Allowed
s1={1,2,3,4,5}
s2=frozenset(set1)
s2.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [9]:
set1=set((0,9,0))
set1

{0, 9}